.footer {
  background-color: var(--primary-color-dark);
  color: var(--color-white);
}

footer {
  background-color: var(--primary-color-dark);
  gap: var(--size-9);
  grid-template-columns: 1fr 1fr;
  height: auto;
  margin: auto;
  max-width: calc(62.5 * var(--size-9));
  padding-inline: var(--size-13);
}

.footer-info {
  font-size: var(--size-11);
  font-weight: var(--weight-semibold);
}

.footer-copyright {
  font-weight: var(--weight-medium);
  font-size: var(--size-9);
}

.footer-text a {
  text-decoration: underline;
}

.footer-link {
  gap: var(--size-11);
}

.footer-link li a i {
  font-size: var(--size-11);
}

.footer-text {
  font-size: var(--size-10);
  font-weight: var(--weight-semibold);
}

.footer-additional,
.footer-social {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--size-11);
  justify-content: center;
}

.footer a:hover {
  color: var(--secondary-color-dark);
}

@media screen and (max-width: 700px) {
  footer {
    grid-template-columns: 1fr;
    gap: var(--size-13);
  }

  .footer-additional {
    order: 1;
    font-size: var(--size-9);
  }
  .footer-social {
    order: 2;
  }
}
